DATABASE_URL="postgresql://username:password@host:port/database_name?schema=public"
JWT_SECRET= "a-secret-key-with-sufficient-entropy"
PORT=4000

# Stripe
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

# PayMob
PAYMOB_API_KEY="your_paymob_api_key"
PAYMOB_INTEGRATION_ID="your_integration_id"
PAYMOB_HMAC_SECRET="your_hmac_secret"
PAYMOB_IFRAME_ID=000000


# WhatsApp Cloud API
WHATSAPP_PHONE_NUMBER_ID=00000000
WHATSAPP_ACCESS_TOKEN="a-secret-key-from-developers-facebook"
WHATSAPP_TEMPLATE_NAME=hello_world
WHATSAPP_API_URL=

# Twilio SMS (Optional fallback)
TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+12345678901

# Vonage SMS (Optional fallback)
VONAGE_API_KEY=your_vonage_api_key
VONAGE_API_SECRET=your_vonage_api_secret
VONAGE_BRAND_NAME=NestDemo
